@model TaskManagementSystem.Models.Task

@{
    ViewData["Title"] = "Create New Task";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<h1>Create New Task</h1>

<form asp-action="AddTask" method="post">
    <div class="form-group">
        <label asp-for="Name_Title" class="control-label">Title</label>
        <input asp-for="Name_Title" class="form-control" />
        <span asp-validation-for="Name_Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Assignee" class="control-label">Assignee</label>
        <input asp-for="Assignee" class="form-control" />
        <span asp-validation-for="Assignee" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Deadline" class="control-label">Deadline</label>
        <input asp-for="Deadline" class="form-control" type="date" />
        <span asp-validation-for="Deadline" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Priority" class="control-label">Priority</label>
        <select asp-for="Priority" class="form-control">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <br />
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Task</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>